@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;600;900&display=swap');

:root {
    --cor1: #e5e3e1;
    --cor2: #83632b;
    --cor3: #d79f4a;
    --cor4: #e9b563;
    --cor5: #251d0d;
    --cor6: #a7a4a2;
    --cor7: #938c81;
    --cor8: #524c41;
    --cor9: #442c0c;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
    background-color: var(--cor9);
    overflow-x: hidden;
}

#principal{
    background-color: #e6a748;
    width: 96vw;
    height: 96vh;
    margin: 1em;

    border-radius: 20px; 
}

#principal img{
    width: 8em;
    padding-top: 5px;
    padding-left: 6px;
}

#blocos{
    display: flex;
}

#ladoEsquerdo{
    width: 50%;
    text-align: center;
}

#ladoEsquerdo img{
    width: 32em;
}

#ladoEsquerdo h1{
    text-align: center;
    font-weight: bolder;
}

#ladoDireito{
    width: 50%;
    text-align: left;
    padding-left: 40px;
}

#ladoDireito h1{
    margin-bottom: .5em;
    text-align: left;
}

#pConta{
    margin-bottom: 4em;
    text-align: left;
}

#botões{
    margin-bottom: 3em;
}

#google{
    text-decoration: none;
    background-color: white;
    font-weight: 600;
    color: black;
    border: 1px solid black;
    padding: 10px 26px;
    border-radius: 8px;
}

#facebook{
    text-decoration: none;
    background-color: #3b5998;
    font-weight: 600;
    color: white;
    padding: 10px 26px;
    border-radius: 8px;
}

.normal{
    margin-bottom: .5em;
    text-align: left;
}

#ladoDireito input{
    margin-bottom: .6em;
    text-align: left;
}

#botãoReg{
    margin-top: 20px;
    width: 460px;
    height: 50px;
    background-color: var(--cor9);
    border-radius: 10px;
    transition: .7s;
}

#botãoReg > p{
    color: white;
    padding: 5px;
    font-weight: 600;
    font-size: 1.5em;
}

#botãoReg:hover{
    background-color: rgba(219, 31, 31, 0.685);
    width: 480px;
    height: 70px;
}

@media screen and (max-width: 1190px) {
    #botões{
        display: grid;
        width: 300px;
    }

    #facebook{
        margin-top: 20px;
    }

    #botãoReg{
        max-width: 400px;
    }
}

@media screen and (max-width: 1130px) {
    #ladoEsquerdo img{
        width: 50vw;
    }
}

@media screen and (max-width: 921px) {
    #blocos{
        display: block;
    }

    #principal{
        width: 98vw;
        height: 98vh;
    }

    #ladoEsquerdo{
        margin: auto;
    }
    
    #ladoEsquerdo h1{
        font-size: 1em;
    }

    #ladoDireito{
        margin: auto;
        margin-top: 8px;
        padding-left: 0px;
    }

    #ladoDireito h1{
        text-align: center;
    }

    #pConta{
        font-size: .8em;
        margin-bottom: .3em;
    }

    #botões{
        display: flex;
        margin-bottom: .3em;
    }

    #google{
        font-size: .8em;
        width: 135px;
        padding: 5px 10px;
        margin-bottom: .3em;
    }

    #facebook{
        font-size: .8em;
        margin-top: 0px;
        width: 168px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 590px) {
    #principal{
        width: 92vw;
        height: 1020px;
    }

    #ladoEsquerdo{
        margin: auto;
    }
    
    #ladoEsquerdo h1{
        font-size: 1em;
    }

    #ladoDireito{
        display: block;
        margin-top: 20px;
        padding-left: 0px;
        margin-left: 10px;
    }

    #ladoDireito h1{
        text-align: center;
    }

    #divButton{
        margin: auto;
    }

    #botões{
        text-align: center;
    }

    #pConta{
        font-size: .8em;
        margin-bottom: .3em;
    }

    #botões{
        display: flex;
        align-items: center;
        justify-items: center;
        margin-bottom: .3em;
    }

    #google{
        font-size: .8em;
        width: 135px;
        padding: 5px 10px;
        margin-bottom: .3em;
    }

    #facebook{
        font-size: .8em;
        margin-top: 0px;
        width: 135px;
        padding: .2px 10px;
    }

    #botãoReg{
        width: 360px;
    }
}